/* styles/ParticlesBG.css */
.particles-wrapper {
  position: absolute; /* O relative si el main es contenedor */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; /* o la altura que necesite tu main */
  pointer-events: none; /* evita bloquear clics */
}

#tsparticles {
  width: 100%;
  height: 1050px; /* o cualquier valor en px, %, vh, etc. */
  pointer-events: none;
  z-index: -1; /* Detrás de todo */
  
}

#background-canvas {
  position: fixed; /* o absolute si lo prefieres */
  top: 0;
  left: 0;
  width: 100%;
  height: 625px;
  z-index: -1; /* siempre detrás */
  pointer-events: none; /* NO recibe clics ni eventos */
}

