/* ===== CONTENEDOR PRINCIPAL ===== */
.comment-page {
  display: flex;
  min-height: 90dvh;
  height: auto;
  padding: 30px;
  gap: 20px;
  position: relative;
  box-shadow: 0 2px 12px var(--color-shadow-dark, rgba(0, 0, 0, 0.12));
  padding: 1.5rem 1rem;
  min-height: 400px;
  display: flex;
  gap: 2rem;
}

.btn-back-comment {
  position: absolute;
  top: 1rem;
  left: 2rem;
  background-color: transparent;
  border: none;
  font-size: 46px;
  cursor: pointer;
  z-index: 10;
  transition: transform 0.3s ease;
}

/* ===== SECCIONES ===== */
.left {
  margin-top: 30px;
  flex: 2;
  border-radius: 8px;
  padding: 1rem;
  gap: 24px;
}

.right {
  flex: 1;
  border-radius: 8px;
  padding: 1rem;
}

/* ===== TÍTULO ===== */
.title-comment {
  font-size: 34px;
  font-weight: bold;
  letter-spacing: 1.5px;
}

/* ===== LISTA DE COMENTARIOS ===== */
.comments {
  flex-grow: 1;
  overflow-y: auto;
  margin-bottom: 20px;
  max-height: 70dvh;
  border-radius: 12px;
  padding: 1rem;
  scrollbar-width: thin; /* Firefox */
}

/* Scrollbar para Chrome, Edge y Safari */
.comments::-webkit-scrollbar {
  width: 8px;
}
.comments::-webkit-scrollbar-thumb {
  border-radius: 8px;
}
.comments::-webkit-scrollbar-track {
  border-radius: 8px;
}

/* ===== COMENTARIO INDIVIDUAL ===== */
.comment {
  display: flex;
  margin-bottom: 15px;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 12px;
  font-size: 1rem;
}

.comment-body {
  flex: 1;
}

.meta {
  display: flex;
  gap: 10px;
  font-size: 0.9em;
}

.username {
  font-weight: bold;
}

.time {
  font-style: italic;
}

/* ===== FORMULARIO DE COMENTARIOS ===== */
.comment-form {
  display: flex;
  gap: 10px;
}

.input {
  width: 100%;
}

.comment-form button {
  padding: 10px 12px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

/* ===== LISTA DE USUARIOS ===== */
.user-list .user {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.user-circle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}

.reply-btn {
  font-size: 12px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 2px 6px;
  text-decoration: underline;
}
