.container-home-user{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4rem;
    flex: 1;
    height: 100dvh;

}
.container-courses{
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 80px;
}

