.book-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: 100vh;
  padding: 50px 20px;
  box-sizing: border-box;
}


.page {
  position: relative;
  background: linear-gradient(135deg, #e9d08c, #f5deb3);
  border: 10px solid transparent;
  border-left: 50px solid #130b03;
  border-radius: 10px;
  font-family: 'Georgia', serif;
  box-shadow:
    inset -6px 0 10px rgba(0, 0, 0, 0.849), 
    5px 5px 15px rgba(212, 180, 180, 0.959);
}

.cover-page {
  background: linear-gradient(135deg, #311b06, #ce9d6b);
  border: 10px double #050504;
  border-left: 50px solid #050505;
  font-weight: bold;
  text-align: center;
  padding: 20px;
}

.page-content {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  box-sizing: border-box;
}

.navigation-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  margin-top: 40px;
}

.book-nav-btn {
  background-color: #b19f4d;
  border: 5px solid #422900;
  padding: 10px 24px;
  font-size: 18px;
  font-family: 'Georgia', serif;
  font-weight: bold;
  color: #000;
  border-radius: 8px;
  cursor: pointer;
  user-select: none;
  transition: background-color 0.3s ease;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.book-nav-btn:hover {
  background-color: #5a4718;
}
