.container-profile-user{
    display: flex;
    flex-direction: column;
    padding: 2rem 4rem;
    background-image:url('../../../assets/learningZone/img-background-profile.png');
    gap: 40px;
}

.title-profile-user{
    color: #fff;
    align-self: center;
    font-size: 32px;
    background-image: radial-gradient( circle farthest-corner at -24.7% -47.3%,  rgba(107, 92, 28, 0.8) 0%, rgba(223, 220, 122, 0.548) 66.8%, hsla(38, 70%, 58%, 0.788) 100.2% );
    padding: .8rem;
    border-radius: 12px;

}
.container-about-user{
    display: flex;
    justify-content: space-between;
    background-image: radial-gradient( circle farthest-corner at -24.7% -47.3%,  rgba(6, 131, 165, 0.8) 0%, rgba(34, 48, 86, 0.548) 66.8%, rgba(15, 23, 42, 0.788) 100.2% );
    border-radius: 20px;
    padding: 3rem;
}

.section-progress{
    display: flex;
    flex-direction: column;
    gap: 22px;
    justify-content: center;
    align-self: center;
    align-items: center;
    border-bottom: 2px solid #fff;
    border-left: 2px solid #fff;
    border-right: 2px solid #fff;
    border-radius: 12px;
    padding: 50px;
    width: 340px;
    max-height: 40dvh;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-color: var(--color-primary-blue) var(--color-neutral-light-gray);

}

.title-progress{
    color: #fff;
}
.item-course-progress{
    position: relative;
    padding: .4rem;
    width: 100%;
    text-align: center;
    cursor: pointer;
    color: #fff;
    border-radius: 12px;
}
.item-course-progress:hover{
    transform: rotate(2deg) translateY(-2px);

}
.span-status-course{
    position: absolute;
    top: 70px;
    left: 30px;
    color: #fff;
    padding: .2rem;
    transform: rotate(-38deg) translateY(-90px);
    font-size: 11px;
    border-radius: 4px;
    box-shadow: 1px 4px 2px 0px rgba(0, 0, 0, 0.502);



}
.progress-main{
    background-color: var(--color-accent-orange);
    justify-self: center;
    align-self: center;
    padding: .6rem;
    width: 100%;
    margin: 0px 4px;
    border-radius: 12px;
    color: #fff;
    text-align: center;
}


.progress-main:hover{
    transform: rotate(-2deg) translateY(-2px);

}
.section-info-user{
    padding: .8rem;
}
