.learning-zone-info {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
  padding: 20px;
}

.info-title {
  font-size: 45px;
  font-weight: bold;
  margin-bottom: 20px;
}

.info-paragraph {
  font-size: 25px;
  margin-bottom: 16px;
  line-height: 1.6;
  font-style: italic;
  justify-content: center;
}
