.container-page-notifications-teacher{
    width: 100%;
    min-height: 100dvh;
    padding: 20px;
    box-sizing: border-box;

}

.title-container-notifications {
     margin: 0 0 20px 0;
    color: #ffffff;
    font-size: 2rem;
    font-weight: 600;
}
