.help-slide {
  position: relative;
  width: 100%;
  min-height: 112vh;
}

.help-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.help-box {
  background-color: #677035da;
  padding: 2rem 1.5rem;
  border-radius: 12px;
  text-align: center;
  position: relative;
  font-weight: bold;
  font-size: 1rem;
  width: 100%;
  max-width: 500px;
  box-sizing: border-box;
}



.help-text {
  font-size: 1.1rem;
  color: #ffffff;
  margin-bottom: 1.5rem;
  font-weight: bold;
  line-height: 1.4;
}

.help-image {
  width: 100%;
  max-width: 270px;
  height: auto;
  border-radius: 8px;
  display: block;
  margin: 4rem;
  object-fit: cover;
   margin: 0 auto 1.9rem;
}

.help-buttons {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1rem;
  justify-content: center;
  align-items: center;
}


.btn-help {
  background-color: #0bef17;
  color: #333;
  border: none;
  padding: 0.75rem 1.25rem;
  font-size: 1rem;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
  width: 100%;
  max-width: 200px;
}

.btn-help:hover {
  background-color: #034e00;
  color: #ecd1d1;
}

.btn-help.skip {
  background-color: transparent;
  color: #ccc;
  border: 1px solid #ccc;
}

.btn-help.skip:hover {
  background-color: #ccc;
  color: #000;
}

/* ---------- Desktop (768px en adelante) ---------- */
@media (min-width: 768px) {
  .help-box {
    padding: 2rem;
   /*  height: 69%; */
  }

  .help-text {
    font-size: 1.3rem;
    margin-bottom: 2rem;
  }

  .help-buttons {
    flex-direction: row;
    gap: 1rem;
    position: absolute;
    bottom: 20px;
    right: 20px;
    margin-top: 0;
  }

  .btn-help {
    width: auto;
  }
}
/* Para moviles */
@media (max-width: 480px) {
  .help-box {
    padding: 1.5rem 1rem; 
    font-size: 0.9rem;
    max-width: 90%;
  }

  .help-text {
    font-size: 1rem; 
    margin-bottom: 1rem;
    line-height: 1.3;
  }

  .help-image {
    max-width: 200px; 
    margin: 0 auto 1rem;
  }

  .help-buttons {
    flex-direction: column;
    gap: 0.75rem;
    position: static; 
    margin-top: 1rem;
  }

  .btn-help {
    font-size: 0.9rem;
    padding: 0.6rem 1rem;
    max-width: 160px;
  }
}