.introduction-title {
    color: rgb(88, 49, 16);
    border-bottom: 2px dashed #a47c48;
    padding-bottom: 0.5rem;
    font-size: 2rem;
    border-bottom: 2px dashed #a47c48;
    text-align: center;

}

.introduction-paragraph {
    color: black;
    text-align: justify;
    max-width: 90%;
    margin: 0 auto;
    padding: 1rem;
    word-wrap: break-word;
    box-sizing: border-box;
    font-size: 22px
}

.page-number {
  position: absolute;
  bottom: 10px;
  right: 45px;
  font-size: 30px;
  color: black;
  font-weight: bold;
  opacity: 0.7;
}