.section-carrusel {
  background: linear-gradient(135deg, #1e3a8a, #3b82f6); /* degradado azul moderno */
  background-image: url('../../../assets/Carrusel/img-background.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: auto;
}

.titulo {
  cursor: pointer;
  font-size: 45px;
  font-weight: bold;
  letter-spacing: 1.5px;
  color: #f59e0b; /* Naranja PowerPoint */
  text-align: center;
  transition: .4s ease-in-out;
  padding: 18px;
}

.container-carrusel {
  max-width: 1310px;
  height: 84%;
  overflow: hidden;
}

.container-carrusel ul {
  display: flex;
  padding: 0;
  width: 400%;
  animation: slide 20s infinite alternate-reverse ease-in-out;
}

.container-carrusel li {
  width: 100%;
  list-style: none;
  position: relative;
}

.texto {
  cursor: pointer;
  position: absolute;
  display: flex;
  flex-direction: column;
  padding: 0 10px;
  top: 250px;
  gap: 70px;
  color: #ffffff;
  left: 505px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.9s ease-in-out;
}

.texto:hover {
  opacity: 1;
  visibility: visible;
}

.texto h2 {
    font-size: 45px;
    margin-bottom: 35px;
    font-weight: bold;
    letter-spacing: 2px;
    color: #f59e0b;
}

.texto p {
    color: #f4f4f4;
    letter-spacing: 1.2px;
    text-wrap: balance;
    width: 400px;
    background-color: rgba(0, 55, 90, 0.65); /* Azul petróleo transparente */
    padding: 20px;
    border-radius: 10px;
    backdrop-filter: blur(4px);
}

.container-carrusel img {
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.45);
  width: 45%;
  height: 65%;
  margin: 75px 475px;
  transition: .3s ease-in-out;
  border-radius: 15px;
}

.container-carrusel img:hover {
  cursor: pointer;
  filter: brightness(70%) contrast(90%);
  transform: scale(1.02);
}

.container-carrusel img:hover + .texto {
  opacity: 1;
  visibility: visible;
}

/* Animación intacta */
@keyframes slide {
  0% {margin-left: 0%;}
  20% {margin-left: 0%;}
  25% {margin-left: -100%;}
  45% {margin-left: -100%;}
  50% {margin-left: -200%;}
  70% {margin-left: -200%;}
  75% {margin-left: -300%;}
  100% {margin-left: -300%;}
}
