.container-panel-notifications{
    right: 16vw;
    top: 400px;
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color:var( --color-text-light) ;
    padding: 4rem;
    border-radius: 20px;
    max-height: 70dvh;
    overflow-y: auto;
    scrollbar-width: thin; /* Firefox */
    scrollbar-color: var(--color-primary-blue) var(--color-neutral-light-gray);
}
/* Establece el ancho de la barra de desplazamiento vertical */
.container-panel-notifications::-webkit-scrollbar {
  width: 8px;
}

/* Estilo del fondo (track) de la barra de desplazamiento */
.container-panel-notifications::-webkit-scrollbar-track {
  background: var(--color-neutral-light-gray); /* Fondo gris claro */
  border-radius: 10px; /* Bordes redondeados para un diseño más suave */
}

/* Estilo del "thumb" (la parte que se mueve al hacer scroll) */
.container-panel-notifications::-webkit-scrollbar-thumb {
  background-color: var(--color-primary-blue); /* Color del pulgar */
  border-radius: 10px; /* Bordes redondeados para coherencia visual */
  border: 2px solid var(--color-neutral-light-gray); /* Borde para separarlo visualmente del track */
}
.btn-delete-all{
    background-color: var(--color-vibrant-red-orange);
    color: var(--color-text-light);
    padding: .4rem;
    z-index: 100;
    margin-top: -
    30px;
    border-radius: 12px;

}

/* ===== TABLET (>=768px) ===== */
@media (min-width: 768px) {
  .container-panel-notifications {
    right: 60px;
    top: 270px;
    padding: 2rem;
    border-radius: 16px;
    max-width: 420px;
  }
}

/* ===== DESKTOP (>=1024px) ===== */
@media (min-width: 1024px) {
  .container-panel-notifications {
    right: 260px;
    top: 200px;
    padding: 4rem;
    border-radius: 20px;
    max-width: 540px;
  }
}

/* ===== MOBILE PEQUEÑO (<=480px) ===== */
@media (max-width: 480px) {
  .container-panel-notifications {
    right: 7vw;
    top: 250px;
    padding: 2rem;
    border-radius: 10px;
    max-width: 98vw;
  }
}
