.course-manager {
  padding: 1rem;
}

.container-management-course-teacher {
  position: relative;
  min-height: 100dvh;
}

/* Botón de regreso */
.btn-back-teacher-course {
  position: absolute;
  top: 1rem;
  left: 2rem;
  background-color: transparent;
  border: none;
  font-size: 46px;
  cursor: pointer;
  z-index: 10;
  transition: transform 0.3s ease;
}

.header-crud-course-teacher {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  padding: 1.2rem;
  min-height: 530px;
  border-bottom: 1.4px solid rgba(17, 0, 17, 0.259);
  row-gap: 1.2rem;
}

.container-info-course {
  display: flex;
  flex-direction: column;
}

.category-management-course {
  width: 98vw;
  text-align: center;
  font-size: 1.1rem;
  border-radius: 14px;
  color: #fff;
  margin: 0 auto 1rem auto;
  border-bottom: 1.2px solid rgb(114, 114, 112);
}

.image-course-header-teacher {
  width: 100%;
  max-width: 100%;
  height: auto;
  border-radius: 4%;
}

.crud-actions {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
}

.crud-actions button {
  background-color: transparent;
}


.btn-add-lesson-course {
  position: static;
  font-size: 1rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-weight: bold;
  margin-top: 1.2rem;
}

.container-lesson-cards-teacher {
  max-width: 100vw;
  margin-top: 12px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  max-height: 88vh;
  overflow-y: auto;
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: var(--color-shadow-dark);
  padding: 0 0.2rem;
}


/* ====== TABLET (481px – 1023px) ====== */
@media (min-width: 481px) and (max-width: 1023px) {
  .course-manager {
    padding: 2rem;
  }


  .header-crud-course-teacher {
    padding: 3rem;
    grid-template-columns: 1fr 1fr 0.7fr;
    row-gap: 0;
  }

  .category-management-course {
    width: 320px;
    font-size: 22px;
    position: absolute;
    top: 50px;
    right: 24px;
    margin: 0;
  }

  .image-course-header-teacher {
    width: 80%;
    height: auto;
  }

  .container-lesson-cards-teacher {
    max-width: 90%;
    gap: 24px;
  }

  .btn-add-lesson-course {
    font-size: 1.2rem;
    position: absolute;
    right: 36px;
    width: 240px;
    margin-top: 0;
  }
}

/* ====== DESKTOP (>=1024px) ====== */
@media (min-width: 1024px) {
  .course-manager {
    padding: 3rem;
  }

  .header-crud-course-teacher {
    padding: 6rem;
    grid-template-columns: 1.2fr 1fr 0.5fr;
  }

  .category-management-course {
    position: absolute;

    width: 400px;
    font-size: 26px;
    top: 70px;
    right: 20px;
  }

  .image-course-header-teacher {
    width: 80%;
    height: auto;
  }

  .container-lesson-cards-teacher {
    max-width: 80%;
    gap: 32px;
  }

  .btn-add-lesson-course {
    font-size: 24px;
    right: 38px;
  }
  .btn-arrow-infinite-container {
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translateX(-50%);
}
}
