/* Contenedor principal del main */
.about-us-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 100vh;
  background-color: #f0f0f0;
}
/* Estilos imagen */
.about-static-image {
  width: 40%;
  display: block;
  margin: 0 auto;
}
/* Contenedor de imagen y textos */
.image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  padding-bottom: 40px;
  width: 100%;
}

/* Cje Tecnology */
.title {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}
/* Estilos de texto "Más sobre learning zone" */
.subtitle {
  font-size: 2rem;
  margin-top: 0.5rem;
  color:rgb(59, 109, 209)
}
/* Botones laterales */
.icon-button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 70px;
  color: rgb(0, 0, 0);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 5;
}

/* Posiciones izquierda y derecha de botones lateales*/
.icon-button.left {
  left: 330px;
}

.icon-button.right {
  right: 330px;
}

/* Paneles laterales */
.side-panel {
  position: absolute;
  top: 0;
  height: 100%;
  width: 00px;
  padding: 20px;
  z-index: 2;
}
/* Animaciones al entrar y salir de los paneles laterales */
.left-panel {
  left: 0;
  animation: slideInLeft 0.3s ease-in-out;
}

.right-panel {
  right: 0;
  animation: slideInRight 0.3s ease-in-out;
}

/* Estilo blanco para íconos cuando el panel está abierto */
.icon-white {
  color: white;
}

/* Clase para cambiar el estilo del botón cuando está sobre el panel */
.above-panel .side-icon {
  color: white;
}

/* Ajuste visual para mantener el botón por encima y más pegado al borde del panel */
.icon-button.left.above-panel {
  left: 330px;
}

.icon-button.right.above-panel {
  right: 330px;
}

/* Estilos para el boton(flecha) */
.info-toggle-button {
  margin-top: 30px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 60px;
  color: rgb(11, 60, 194);
  transition: transform 0.4s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 2;
}
/* Rotacion de la flecha */
.info-toggle-button .icon {
  transition: transform 0.4s ease;
}

.info-toggle-button.rotated .icon {
  transform: rotate(180deg);
}


.btn-back-team {
  position: absolute;
  top: 22px;
  left: 270px;
  cursor: pointer;
  z-index: 10; 
  transition: z-index 0.3s ease;
}

/* Si el panel izquierdo está abierto, envía el botón atrás */
.left-panel-open .btn-back {
  z-index: 0;
}