.evaluation-management-container {
    color:black

}

.evaluation-title{
    color:rgb(88, 49, 16);
    border-bottom: 2px dashed #a47c48;
    padding-bottom: 0.5rem;
    font-size: 2rem;
    border-bottom: 2px dashed #a47c48;
    text-align: center;

}

.manual-list{
    color:black;
    padding-bottom: 0.5rem;
    font-size: 22px;
    text-align: left
    
}

.evaluation-photo{
    width: 495px;
    height: 270px;
    align-content: center;
    display: block;       
    margin: 0 auto;

}