.navigation-section-title{
    color:rgb(88, 49, 16);
    border-bottom: 2px dashed #a47c48;
    padding-bottom: 0.5rem;
    font-size: 2rem;
    border-bottom: 2px dashed #a47c48;
}

.navigation-list{
    color:black;
    font-size: 22px;
    text-align: left;

}