.support-section-title{
    color:rgb(88, 49, 16);
    border-bottom: 2px dashed #a47c48;
    padding-bottom: 0.5rem;
    font-size: 2rem;
    border-bottom: 2px dashed #a47c48;
     text-align: center;
}

.email{
    color:black;
    padding-bottom: 0.5rem;
    font-size: 22px;
    
}

.support-hour{
    color:black;
    padding-bottom: 0.5rem;
    font-size: 22px;
}
